# Virtual environments
.venv/

# Python caches
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Testing / tooling caches
.pytest_cache/
ruff_cache/

# Jupyter artifacts
.ipynb_checkpoints/

# OS files
.DS_Store
